<!doctype html>

<head>

    <meta name="viewport" content="width=device-width, initial-scale=1">
	
	<title>Calculez Votre IMC</title>
	
    <link rel="stylesheet" href="https://unpkg.com/purecss@0.6.2/build/pure-min.css" integrity="sha384-UQiGfs9ICog+LwheBSRCt1o5cbyKIHbwjWscjemyBMT9YCUMZffs6UqUTd0hObXD" crossorigin="anonymous">

	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">

</head>

<h1>Calculez Votre IMC</h1>

<body>

<div class="main">
	<form class="pure-form" method="POST" action="/">
	Nom:<br>
	<input type="text" name="name"><br>	
	Poid en kg:<br>
	<input type="text" name="weight"><br>
	Taille en cm:<br>
	<input type="text" name="height"><br>
	<button type="submit" class="pure-button pure-button-primary" value="Submit">Envoyer</button>
	</form>
</div>

<br>

<div class="main">
	{% if bmi %}
	    <p>
        {% print("Votre IMC est {}.".format(bmi)) %}
        </p>
	{% endif %}
</div>

</body>